@using MyPokeTracker.Controllers
@using System.Reflection






@{
    ViewBag.Title = "Index";
}


<!--p@model IEnumerable<Pokemon>-->

@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
    ViewBag.Title = "Users";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Pokemon List</h3>
    </div>
    </div>
<div style="height: 600px; overflow: auto;">

    <!--  <ul class="list-inline">-->
    <!-- h@foreach (var pklist in Model)-->
    <!--   m@foreach (var pklist in Model) -->
    <div class="container-fluid">




        @foreach (Pokemon pokemon in (List<Pokemon>)ViewData["Pokemon"])
        {


            @pokemon.id  @pokemon.name
            <figure class="figure">
                @{
                    var base64 = Convert.ToBase64String(@pokemon.sprite);  //converted byte to base64 to store in DB
                    var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                }
                <img src=@imgSrc class="figure-img img-fluid rounded" alt="...">
            </figure>



            @*<div class="container">
                @pokemon.id
                <figure class="figure">
                    @{
                        var base64 = Convert.ToBase64String(@pokemon.sprite);
                        var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                    }
                    <img src=@imgSrc class="figure-img img-fluid rounded" alt="...">
                </figure>

                <div> @pokemon.name</div>
            </div>*@
            <!-- <li class="active"></li>-->
            @*<ul class="list-group"><li class="list-group-item">@pokemon.id @pokemon.name</li>
                    <li class="list-group-item">
                        <figure class="figure">
                    @{
                        var base64 = Convert.ToBase64String(@pokemon.sprite);
                        var imgSrc = String.Format("data:image/png;base64,{0}", base64);
                        }
                        <img src=@imgSrc class="figure-img img-fluid rounded" alt="...">
                        </figure>
                    </li>



            </ul>*@

        }
    </div>
    </div>

    
    <!--  </ul>  -->




